# Backend
backend/__pycache__/
backend/*.py[cod]
backend/*$py.class
backend/*.so
backend/.Python
backend/build/
backend/develop-eggs/
backend/dist/
backend/downloads/
backend/eggs/
backend/.eggs/
backend/lib/
backend/lib64/
backend/parts/
backend/sdist/
backend/var/
backend/wheels/
backend/*.egg-info/
backend/.installed.cfg
backend/*.egg
backend/MANIFEST
backend/.env
backend/.venv
backend/env/
backend/venv/
backend/ENV/
backend/env.bak/
backend/venv.bak/
backend/.pytest_cache/
backend/.coverage
backend/htmlcov/
backend/.tox/
backend/.nox/
backend/.mypy_cache/
backend/.dmypy.json
dmypy.json
backend/.pyre/
backend/.pytype/
backend/cython_debug/
backend/.idea/
backend/.vscode/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.vite/

# Temp
backend/temp/
frontend/*.local
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.cache/
frontend/coverage/
frontend/.vscode/*
!frontend/.vscode/extensions.json
frontend/.idea/
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

# Vite cache
.vite/

# General
.DS_Store
*.log
.vscode/
.idea/
*.swp
*.swo
*~
